.upload-container {
  width: 100%;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.upload-container label {
  color: #555;
  font-size: 16px;
  font-weight: bold;
}

.upload-container input[type="file"] {
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
  transition: border-color 0.3s;
}

.upload-container input[type="file"]:hover {
  border-color: #007bff;
}
